[2013-12-09 13:28] romansmirnov opened #3 "Adjust version of artifacts"
- the version of the artifacts should be set to 1.0.0 (-SNAPSHOT?)
- document with which camunda BPM platform version the artifacts are runnable and tested (against 7.0.0-Final or 7.1.0)

[2013-12-09 13:31] romansmirnov opened #4 "Restructure the packages inside the camunda-engine-osgi artifact"
Currently the package structure is a little bit messy!
- restructure the packages

[2014-01-03 12:17] #3 closed, assigned to nobody

[2014-01-05 17:31] rbraeunlich opened #5 "Constants class"
org.camunda.bpm.engine.osgi.Constants should be an interface, not a class

[2014-02-10 19:41] rbraeunlich opened #10 "OsgiScriptingEngines constructor"
OsgiScriptingEngines has two Constructors.
One takes a ScriptBindingsFactory and the other one a ScriptEngineManager.
It seems like the OsgiScriptingEngines cannot work without a ScriptBindungsFactory, but the constructor is the only way to set it.
This should be investigated and solved.

[2014-03-04 12:21] meyerdan opened #11 "maintain(maven): adjust groupId"
Please adjust the maven `groupId` to the naming scheme proposed here:
https://groups.google.com/forum/#!topic/camunda-bpm-dev/0VQS9z0ZxWU

Suggestion: `org.camunda.bpm.extension.osgi`

[2014-03-13 19:23] #11 closed, assigned to nobody

[2014-03-23 18:36] rbraeunlich opened #12 "Extender resolveScriptEngine()"
The static method resolveScriptEngine() uses a non-static field from the Extender class.

[2014-03-24 19:33] rbraeunlich opened #13 "ProcessDefinitionDeployer deployProcessDefinitions()"
The method deployProcessDefinitions() takes a Bundle and a List<URL> as arguments.
The ProcessDefinitionDeployerImpl only needs the bundle to get its symbolic name.
Someone has to check if it would be enough to pass the string or if there could be a chance that the bundle will be needed here.

[2014-03-25 12:41] rbraeunlich opened #14 "BlueprintELResolver"
The BlueprintELResolver only supports JavaDelegates. ActivitiyBehaviors are ignored so far.
Maybe there is a better way than just extending the BlueprintELResolver but also to combine the OSGi Service Registry with a Resolver.

[2014-03-26 08:53] #4 closed, assigned to nobody

[2014-03-27 14:50] #5 closed, assigned to nobody

[2014-03-27 14:50] #10 closed, assigned to nobody

[2014-03-27 14:50] #12 closed, assigned to nobody

[2014-05-19 16:18] #14 closed, assigned to nobody

[2014-05-21 20:08] #13 closed, assigned to nobody

[2014-09-08 12:55] rbraeunlich opened #17 "Make Karaf commands compatible for Karaf 2 and 3"
There seem to be no incompatible changes between Karaf 2 and 3 so that the commands should work in both environments. Only the version range needs to be "widened".

[2014-11-11 19:56] rbraeunlich opened #18 "Update README with description of ManagedProcessEngineFactory"

[2014-11-12 18:21] rbraeunlich opened #19 "Improve ManagedProcessEngineFactory"
The ManagedProcessEngineFactory currently supports only some of the possible properties.
The String/boolean values aren't a problem.
Problematic are the setters that expect classes since we cannot provide classes via a configuration file.
We should try to find a OSGi-like way for that.
One idea is to just set a flag which say that the configuration do a service lookup for those classes. Additional

[2015-01-09 15:26] adamjoeldavis opened #20 "OSGiELResolver can't resolve methods with parameters"
There is an issue in the OSGiELResolver where it will only resolve methods that have zero parameters.  I don't think this is a bug in the OSGi extension, rather a bug in the way that the org.camunda.bpm.engine.impl.juel.AstMethod class passes parameter types down - it currently always passes null.

As a workaround, I have sub-classed the OSGiELResolver and modified the invoke() method like so:

[c

[2015-01-11 15:26] rbraeunlich commented on #20
Hi Adam,
I created a [JUnit test](https://github.com/camunda/camunda-bpm-platform-osgi/blob/master/camunda-bpm-osgi/src/test/java/org/camunda/bpm/extension/osgi/el/OSGiELResolverLdapMethodCallWithParamIntegrationTest.java) to make this problem visibile and opened a [thread](https://groups.google.com/forum/#!topic/camunda-bpm-dev/Ky0hDJw6xRI) in the forum.
Depending on what we agree on there we'll

[2015-01-14 21:02] adamjoeldavis commented on #20
Hi Ronny,

Thanks for looking into this!

Something else that I noticed:  The OSGiELResolver.invoke method uses MethodUtils.getAccessibleMethod, which forces an exact match on the Class<>[] defining the parameter types.  Would you consider switching to MethodUtils.getMatchingAccessibleMethod, which allows for non-exact, but still compatible, method parameters?

Thanks again!
Adam

[2015-01-15 20:04] #20 closed

[2015-01-19 14:54] meyerdan opened #21 "I can download a prepackaged Apache Karaf distribution"
It should be possible for users to download an apache karaf distribution with camunda pre-installed (comparable to the tomcat, wildfly ... distributions we offer).

The distribution will be a community extension (no commercial support available).

camunda will add a link to http://camunda.org/download

The binaries can be downloaded directly from Github (?).

[2015-01-20 10:27] wiax commented on #21
I agree with this idea; should be available as a feature embedded in a karaf distribution.

[2015-01-28 16:45] rbraeunlich opened #22 "Update camunda connect Jars in feature.xml"
The artifact ID of the connect Jars changed from:
camunda-connect-soap-httpclient to camunda-connect-http-client
camunda-connect-rest-httpclient to camunda-connect-soap-http-client

[2015-01-29 17:00] #22 closed

[2015-01-29 17:11] #17 closed

[2015-01-29 18:25] #18 closed

[2015-02-02 18:21] rbraeunlich opened #23 "Release version 1.1.0"
Hi Christian,

could you please release version 1.1.0? The next development version should be 2.0.0.
Also, it would be great if we could provide the Karaf distribution simultaneously. [here](https://groups.google.com/forum/#!topic/camunda-bpm-dev/XlmK5XnojVg)

Cheers,
Ronny

[2015-02-02 20:39] adamjoeldavis opened #24 "Question on JavaDelegates and Blueprint"
Hi Ronny,

First of all, let me say that I am still rather new with both Camunda and Blueprint, so if I am completely off-base with my approach please say so.

I am writing a JavaDelegate that requires an OSGi service to function, and I would like to inject that service via blueprint.  In Part 4 of the documentation, it mentions using the BlueprintELResolver to have Camunda pick up and use JavaDel

[2015-02-03 17:01] adamjoeldavis commented on #24
Thanks for your help!  I hadn't considered using the expression option with a service task instead of the class option - that solves my problem.

Adam

[2015-02-03 17:01] #24 closed

[2015-02-12 12:29] hawky-4s- commented on #23
@rbraeunlich:

During the maven build of 'camunda-bpm-karaf-feature' the tests fail because karaf is unable to retrieve some necessary artifacts. Probably this works for you because they are already in your local maven repository.
They artifacts in question are:

Error resolving artifactorg.ops4j.pax.exam:pax-exam-features:xml:3.5.0:Could not find artifact org.ops4j.pax.exam:pax-exam-features:xml:

[2015-02-12 16:43] rbraeunlich commented on #23
Hi Christian,

I cannot reporduce the bug. I deleted both directories from my local Maven repository.
After I ran ``mvn clean test`` the test was successful and the Jar/Xml reappeared.

Also, I can see that both are present in Maven Central. Maybe it's some network/firewall/... issue on your side?

Cheers,
Ronny

[2015-02-12 16:50] wiax commented on #23
Same issue than hawky-4s-

[2015-02-16 19:03] rbraeunlich commented on #23
Hi Christian,

I hope my latest commit fixes the problem. Could you give it a try, please?

Cheers,
Ronny

[2015-02-16 23:36] hawky-4s- commented on #23
Hi Ronny,

The commits did not change anything. I've created a ci build on cloudbees buildhive and linked the status badge into the readme. I believe it has something to do with using a mirror in settings.xml. But even without a mirror and a clean maven repository, I was unable to build the project cleanly. Tried from home, work and datacenter jenkins. Everytime artifacts are missing.
With the new

[2015-02-17 19:43] rbraeunlich commented on #23
Hi Christian,
after varying the test timeouts a little bit Jenkins seems to be [on my side](https://buildhive.cloudbees.com/job/camunda/job/camunda-bpm-platform-osgi/7/) ;-)
So, what do we do now?

[2015-02-18 08:15] gimbel commented on #23
Hi Ronny,

Christian is on vacation at the moment. It might take a week for him to reply.

Just wanted to let you know.

Robert

[2015-03-03 09:17] hawky-4s- commented on #23
HI Ronny,

Could you please have a look at #a81f20ceeda928216dcb9ade197a4a22ecad9cbe and check if I got the dependencies right? I commented some deps which are not tested or joined some deps, e.g. the engine requires the model-* stuff, it's not optional.

Cheers,
Christian

[2015-03-03 18:12] rbraeunlich commented on #23
Hi Christian,

thank you for your help with the versions. I am quite happy about your help.
I took a look at the changes and have only some minor questions:
* You removed all the dependencies to camunda commons; doesn't the engine need any camunda commons classes any more?
* Since you removed all of the logging bundles, is the engine is back to java.util logging?
* You deleted the "camunda-models"

[2015-03-04 13:27] hawky-4s- commented on #23
Hi Ronny,

- The engine never needed the commons classes. Only Spin / Connect uses them.
- Engine uses only java.util. Spin / Connect use logging api.
- I merged the models features because the engine does not work without them, they are mandatory. Providing a feature for tidyness, dunno. I'm no OSGi guy in that aspect. Could be done your way if you really want it.

Cheers,
Christian

[2015-03-04 15:54] rbraeunlich commented on #23
Hi Christian,

my proposal is f95d6b028a4af078ee1fea1000794b098f75dee0
I hope we can agree on that ;)

Cheers,
Ronny

[2015-03-04 16:00] hawky-4s- commented on #23
Ack. Should I start the release?

Hint: You have to edit the release notes and title of the github release after the maven release. I can only provide a default text, because I must create it before I can attach/upload the karaf files to it.

[2015-03-04 16:04] rbraeunlich commented on #23
Yes, please.
Thanks for the hint, I'll try to provide something meaningful.
And please remind me the next time we meet to pay for the drinks ;)

[2015-03-04 22:06] hawky-4s- commented on #23
Hi Ronny,

See https://github.com/camunda/camunda-bpm-platform-osgi/releases/tag/1.1.0

Cheers,
Christian

[2015-03-04 22:06] #23 closed

[2015-03-08 08:41] meyerdan opened #25 "I can see which versions of camunda an OSGi release is compatible with"
Either on the [releases page](https://github.com/camunda/camunda-bpm-platform-osgi/releases) or somewhere else, I can see which versions of the process engine a particular OSGi extension release is compatible with.

[2015-03-09 18:28] rbraeunlich commented on #25
Hi Daniel,
you're right, that would be some useful information.
I updated the release notes for 1.1.0. Unfortunately, I cannot add any description to 1.0.0. Seems like 1.0.0 wasn't a "usual" GitHub release. Maybe Christian can help me there?

[2015-03-09 20:07] hawky-4s- commented on #25
Hi Ronny,

Just add some release notes through the [GitHub tags] url.

[GitHub tags]: https://github.com/camunda/camunda-bpm-platform-osgi/tags

[2015-03-10 07:50] meyerdan commented on #25
https://github.com/camunda/camunda-bpm-platform-osgi/releases/new?tag=1.0.0

[2015-03-11 19:49] rbraeunlich commented on #25
Thank you!

[2015-03-11 19:49] #25 closed

[2015-03-16 10:44] rbraeunlich commented on #21
With the 1.1.0 release we provided the [Karaf distribution](https://github.com/camunda/camunda-bpm-platform-osgi/releases).

[2015-03-16 10:44] #21 closed

[2015-03-20 14:17] rbraeunlich opened #26 "Check generics of ScriptEngineBundleTrackerCustomizer"
The ``ScriptEngineBundleTrackerCustomizer`` has currently the following signature
[code]
the <Bundle> results in the methods receiving or returning a Bundle. The methods with the bundle as parameter get it twice so it seems like the generics should be changed.

[2015-04-03 10:39] rbraeunlich opened #27 "Check dependency from Fileinstall to camunda-bpm-osgi"
The Fileinstall module currently has a dependency to camunda-bpm-osgi.
It currently only uses ``org.camunda.bpm.extension.osgi.Constants``. Maybe it would be better to put the constants somewhere else (new API bundle?).

[2015-04-03 11:21] rbraeunlich opened #28 "Add unit tests to camunda-bpm-osgi-configadmin"
The camunda-bpm-osgi-configadmin module currently only contains an integration test.
One or two unit tests would be nice.

[2015-04-03 13:42] rbraeunlich opened #29 "Refactor ProcessDefinitionDeployerImpl.deployProcessDefinitions()"
The ProcessDefinitionDeployer is called when the BundleTrackerCustomizer (org.camunda.bpm.extension.osgi.scripting.impl.ScriptEngineBundleTrackerCustomizer) finds a bundle with the header for process definitions or a BPMN file in the default location.
The deployer needs a ProcessEngine to be able to deploy something but the camunda-bpm-osgi bundle itself doesn't create an engine.
So this call insi

[2015-04-15 12:11] #28 closed

[2015-05-21 08:25] mburke84 opened #30 "Adjust version range so that the OSGi extension works with Camunda BPM 7.3"
Currently Camunda OSGi doesn't work with 7.3. This is because of the way that the version range is set. Can this be fixed?

[2015-05-22 08:27] rbraeunlich commented on #30
2.0.0-SNAPSHOT and 1.1.0 both work with 7.3.0-SNAPSHOT.
So releasing a 1.2.0 shouldn't be a problem. Maybe we'll have to change some versions in the tests and feature.xml to fit to camunda platform.

[2015-08-18 13:45] MrWong99 opened #31 "Update readme link"
The [link](https://github.com/camunda/camunda-bpm-platform-osgi/blame/master/README.md#L26) in the main README (Line: 26) should point to
https://github.com/camunda/camunda-bpm-platform-osgi/blob/master/camunda-bpm-karaf-feature/README.md
instead. You'll get a 404 with current link.

[2015-08-19 06:24] meyerdan commented on #31
Thanks for reporting. The maintianer @rbraeunlich  will take care of this.

[2015-08-19 17:17] #31 closed

[2015-12-09 16:31] funfried opened #32 "Update to Camunda Engine 7.4.0"
Hi, it would be awesome if you could update the Camunda OSGi integration to Camunda 7.4.0.

Kind regards

[2015-12-09 23:59] rbraeunlich commented on #32
Hi @funfried,
I have exams next week but after those I should have enough time to take a look into it ;)
Cheers,
Ronny

[2015-12-10 00:00] #30 closed

[2015-12-10 07:49] funfried commented on #32
That sounds awesome, but just to let you know, there's currently an open issue within Camunda 7.4.0:

https://app.camunda.com/jira/browse/CAM-5094

I don't think that it is currently possible to get Camunda 7.4.0 running in an OSGi container, but maybe you have an idea how to solve it or you find a workaround. But first take your time for your exams and ... viel Erfolg dabei ;)

Kind regards
funfr

[2016-01-28 07:29] rbraeunlich commented on #32
Hi @funfried, just to let you know, I didn't forget you ;)
Unfortunately, to be able to create a version that works with 7.4 I had to fix [CAM-5094](https://app.camunda.com/jira/browse/CAM-5094).
Anyways, I'm making progess. But I can tell you now, that you'll have to compile your own 7.4 version to include the two pull requests ([#1](https://github.com/camunda/camunda-engine-dmn/pull/4), [#2](htt

[2016-01-28 07:37] funfried commented on #32
Hi @rbraeunlich,

sounds great, thanks for the update! And yes, we use the community edition and I'll give it a try as soon as possible.

[2016-02-01 09:34] webtrekk-kane commented on #32
I currently have 7.4.0 community edition running inside Karaf. However, without camunda-spin and -connector so far.

If wanted, I can provide a patch for the engine.

[2016-02-02 05:36] rbraeunlich commented on #32
Hello @funfried,
I am basically done with preparing the release. I had to open another [pull request](https://github.com/camunda/camunda-engine-dmn/pull/5) for camunda-engine-dmn but that should be it. You can try the 1.3 branch if you want to or wait until the release is published.
Cheers,
Ronny

[2016-02-02 05:42] rbraeunlich opened #33 "Find new free CI hoster"
Hey Christian,
since you picked the last hoster I'd like to rely on your experience in this case.
Especially because I don't have any idea how to properly handle the access rights, since I don't want to interfere with the regular camunda projects.
Could you do this please?
Cheers,
Ronny

[2016-02-02 05:45] rbraeunlich opened #34 "Release 1.3.0 version"
In the 1.3 branch everything is prepared for the 1.3.0 release that's compatible with the (patched) 7.4.0 camunda BPM platform.
Since it can only be tested with a self-compiled version 7.4.0 I don't think that this task has to wait for #33 since the tests will turn red anyways.

[2016-02-02 07:12] funfried commented on #32
Perfect, thanks, I'll give it a try.

[2016-02-13 03:58] rbraeunlich commented on #27
I close this issue because after the restructuring the camunda-bpm-osgi bundle is so stripped down that the dependency is ok for now.

[2016-02-13 03:58] #27 closed

[2016-02-13 04:00] rbraeunlich commented on #26
I close this issue because the ``ScriptEngineBundleScanenr`` (I renamed the ``ScriptEngineBundleTrackerCustomizer``) is no longer a BundleTrackerCustomizer.

[2016-02-13 04:00] #26 closed

[2016-02-13 04:32] rbraeunlich commented on #29
I close this issue because the Felix DependencyManager now handles the service injection and we no longer use a ServiceTracker.

[2016-02-13 04:32] #29 closed

[2016-02-15 08:02] j0xaf commented on #32
Hello @rbraeunlich,

thanks for all your work on the Camunda OSGi integration :-).

One question regarding this issue: Camunda merged you PRs only in master (7.5.0). Do you expect they´ll backport those PRs also to 7.4.x or can we expect that OSGi (with officially built Camunda packages) will only be possible with 7.5.x?

Thanks & cheers
Jörn

[2016-02-15 08:22] rbraeunlich commented on #32
Hi @j0xaf,

thank you for the praise ;)

@gimbel actually answered this question in [this pull request](https://github.com/camunda/camunda-bpm-platform/pull/200). Unless you're an enterprise customer you'll have to wait for the 7.5.0 release or build the 7.4 yourself. IF you're an enterprise customer I suppose you can apply "mild pressure" that camunda backports the changes.

Cheers,
Ronny

[2016-02-19 09:10] hawky-4s- commented on #33
Hi Ronny,

I will send you an email.

[2016-02-19 09:33] rbraeunlich commented on #32
camunda 1.3.0 has been released
https://github.com/camunda/camunda-bpm-platform-osgi/releases/tag/1.3.0

[2016-02-19 09:33] #32 closed

[2016-02-19 09:33] rbraeunlich commented on #34
https://github.com/camunda/camunda-bpm-platform-osgi/releases/tag/1.3.0

[2016-02-19 09:33] #34 closed

[2016-06-04 11:07] rbraeunlich opened #37 "Release camunda BPM 2.0.0"
I don't know if we have a CI running, but basically we can release the new version, which is compatible to camunda BPM 7.5.0

[2016-06-04 11:34] camunda-jenkins commented on #37
I will have a look into it next week.

Gesendet mit AquaMail für Android
http://www.aqua-mail.com

Am 4. Juni 2016 13:07:30 schrieb Ronny Bräunlich <notifications@github.com>:

[2016-06-18 04:46] rbraeunlich commented on #37
Did you make any progress here?

[2016-06-18 07:42] meyerdan commented on #37
Hi Ronny, am sorry that we have not released it yet. I hope that Christian gets around to it next week.

[2016-06-20 11:30] hawky-4s- commented on #37
Done.

[2016-06-20 11:32] meyerdan commented on #37
Will it also be available on Maven Central?

[2016-06-20 11:33] hawky-4s- commented on #37
Problem with release build, false positive

[2016-06-20 12:08] hawky-4s- commented on #37
Alright, fixed the problem. See [release](https://github.com/camunda/camunda-bpm-platform-osgi/releases/tag/2.0.0). Also released on [maven central](https://oss.sonatype.org/content/repositories/releases/org/camunda/bpm/extension/osgi/).

[2016-06-20 12:08] #37 closed

[2016-06-20 12:11] rbraeunlich commented on #37
Thank you very much for your help!

[2016-06-22 08:32] #33 closed

[2016-08-21 06:46] graben opened #38 "BundleScriptEngineResolver fails while activating groovy"
The resolver does read and interpret the whole service description as classname. That's buggy as it can contain comments and several other properties not only classname. While loading official groovy bundle the resolver trys to resolve the class "# Licensed to the Apache Software Foundation (ASF) under one or more".

[2016-09-02 14:08] #38 closed

[2016-09-07 08:33] rbraeunlich opened #39 "Release camunda BPM platform OSGi 2.0.1"
Since I've received two error reports in the past time, which is more than ever, I've fixed them and created a 2.0.1 branch. I think we can release the next bug-fix version so people don't have to wait too long for the fixes.

[2016-09-07 09:56] meyerdan commented on #39
Error reports is good: it means people are using it :)

[2016-09-20 15:24] hawky-4s- commented on #39
Hi @rbraeunlich,

Do you really want to call the branch 2.0.1 or isn't 2.0 a better alternative?

[2016-09-21 12:17] rbraeunlich commented on #39
You're right, 2.0 makes more sense for following 2.x.y releases

[2016-09-26 12:37] rbraeunlich commented on #39
@hawky-4s-  I renamed the branch

[2016-09-26 12:53] hawky-4s- commented on #39
I have some problems during the release with the module 'Karaf Feature':

14:45:24     2016-09-26 14:45:24,215 | WARN  | FelixStartLevel  | AetherBasedResolver              | 3 - org.ops4j.pax.logging.pax-logging-api - 1.8.4 | interval1: daily, interval2: daily
14:45:25     Persistence bundle starting...
14:45:25     Persistence bundle started.
14:45:25     2016-09-26 14:45:25,772 | ERROR | FelixS

[2016-10-03 10:21] rbraeunlich commented on #39
Camunda Spin and Connect had some problems with their MANIFEST exports and I fixed them some time ago, so the versions for them in the ``feature.xml`` are SNAPSHOT. That's why Connect needs Commons version 1.4 already.

Do you intend to make a new release of Spin and Connect in the close future? Else, we have to exclude the commit that changed the ``feature.xml``.

[2017-02-16 08:39] avan2s opened #40 "support for 7.6?"
we would like to use Camunda version 7.6 in an OSGI context. Currently the Camunda OSGI bundle1 is only supporting version 7.5. Is there a way to bring it to work with version 7.6?

[2017-02-16 12:06] avan2s opened #41 "Evaluating a DMN-File in an OSGI-context possible?"
Hello,
i have created a simple DMN-File and would like to evaluate it in an OSGI-context. Is it possible do use the decisions engine with DMN correctly in the OSGI-bundle? I am getting the error:  DMN-01002 Unable to evaluate expression for language 'juel': '${gender}'

 [Here](https://forum.camunda.org/t/evaluation-of-an-uploaded-dmn-file-fails-dmn-01002-unable-to-evaluate-expression-for-language

[2017-02-16 16:43] avan2s commented on #41
UPDATE: It seems to be, that there is an issue in the bindings:
org.camunda.bpm.engine.impl.juel.AstIdentifier:line77 ->
method public Object eval(Bindings bindings, ELContext context) {
		ValueExpression expression = bindings.getVariable(index); // bindings have no variables. So expression contains null;

Maybe there is a bug in org.camunda.bpm.engine.impl.juel.TreeValueExpression in line 65?
thi

[2017-02-18 09:49] rbraeunlich commented on #41
Hi avan2s,
this sounds like a general EL problem and not like something OSGi related.
So far I haven't tried to use DMN within OSGi. There are no test cases for that scenario, yet.
Cheers,
Ronny

[2017-02-18 09:54] rbraeunlich commented on #40
Hi @avan2s
I'm currently quite busy, therefore I didn't manage to follow the camunda BPM releases.
Feel free to open a pull request with 7.6 support. We'll then merge and release it.
Basically, you just have to update the dependencies to the appropriate version, check for compile errors and see if the tests pass. The Karaf feature.xml and the `OSGiTestEnvironment.java` might need some manual adjus

[2017-02-18 14:22] avan2s commented on #41
Hi Ronny,

thank you for your quick reply. In a non OSGI context i have no problems with evaluating a DMN file in version 7.4, 7.5 and 7.6. [Here](https://github.com/avan2s/camunda-engine-unittest-1) you see my working version without OSGi. However i found out in debugging mode, that in our project in an OSGI-context the list "resolvers" in class org.camunda.bpm.engine.impl.javax.el.CompositeELRes

[2017-02-20 08:40] rbraeunlich commented on #41
Hi Andy,

is your OSGi project running Blueprint?
For the BlueprintELResolver to be present, it has to be registered as a listener to perform the lookup of JavaDelegates. You can find the description [here](https://github.com/camunda/camunda-bpm-platform-osgi/tree/master/camunda-bpm-blueprint-wrapper#referencing-inside-processes).
Alternatively, the OSGiELResolver performs a lookup of exported ser

[2017-03-31 11:52] avan2s opened #42 "Passing Business Key through subprocess does not work correctly"
Hello,
as i described [here](https://forum.camunda.org/t/getting-all-tasks-by-processinstanceid-including-those-in-subprocesses/3184) in the forum, i need all tasks in a processinstance and all of its child. Therefore Camunda is using the businessKey for that, that the engine is passing through all the nested subprocesses. In the Camunda Modeler you have to click on the businessKey-checkbox or put

[2017-04-07 07:36] avan2s opened #43 "Time duration behaviour - Default configuration for job execution"
Hi, :-)
currently i am having problems with the OSGI-version of Camunda to bring a simple timer duration event to work. As described in [this](https://forum.camunda.org/t/problem-with-time-duration-event/3299/2) it seems to be that "waiting 10 seconds from now on" is not possible with the default job-configuration. 1 Minute is the smallest value. That is okay for me too, when testing it. My timer

[2017-04-07 09:27] rbraeunlich commented on #43
Hi Andy,

to answer your questions:
1. I don't know why it shouldn't work. The OSGi extension does not replace the `JobExecutor` so it should does its thing. Maybe you could provide a unit test so I could take a better look at it. But so far I've never used the event within the OSGi context.
2. This is more a general camunda BPM question. I can only point you to the documentation [here](https://do

[2017-04-07 09:30] rbraeunlich commented on #42
Hi Andy,
I gotta admit that I am not familiar with business keys. Would it be possible that you show me the whole stacktrace or write a unit test that triggers the exception?
Cheers,
Ronny

[2017-04-07 09:30] avan2s commented on #43
Hi Ronny,
thank you for your quick reply. The documentation is fine and PT1M is working fine for me in a non-osgi-environment. Strange thing...

Cheers,
Andy

[2017-04-07 09:34] rbraeunlich commented on #43
I suppose it must be the `JobExecutor` or somethig related to it.
Does the job arrive in the database?

[2017-04-07 09:51] avan2s commented on #43
Yes it arrives in the database :)
This is my simple process...
![image](https://cloud.githubusercontent.com/assets/7395531/24795043/4199e4c2-1b88-11e7-8bb3-6a04e10c5aea.png)

After starting the instance, the  joblist contains the timer in this list...
List<Job> joblist = this.processEngine.getManagementService().createJobQuery().list();

[2017-04-07 11:14] rbraeunlich commented on #43
Do you use the "basic" OSGi extension or an extended one like Blueprint or OSGiProcessApplication?
And why is your `schema.version` fox? Shouldn't it be `camunda`?

[2017-04-07 13:23] avan2s commented on #43
We are using Blueprint, but we have extended BL EL resolver with our own one in order to use DMN like this:
[code]

Btw. i have done the same in a Spring-environment, where the timer event is working. Here you can see the object's contents. It looks like the :

Working version in default Spring-environment:
[code]

[2017-04-07 15:45] avan2s commented on #43
I have tested some things out. In a nutshell you can say:
1) The engine adds the instance-execution of the timer process in ACT_RU_EXECUTION
2) The engine adds the execution of the timerevent at time t with due date (t+1 minute) with active state true
3) In spring it is deleting the execution from ACT_RU_EXECUTION, when the due date is reached. In my OSGI-context it never deletes the execution fro

[2017-04-12 07:08] rbraeunlich commented on #43
Hi Andy,
I wonder, do you have any idea, why the IDs in your OSGi environment all look like 20xx?
Looking at your output I see `... id=2021 ... executionId=2019, processInstanceId=2017...`. This seems way too regular for the usual IDs that are present within camunda.

[2017-05-12 06:50] avan2s commented on #43
Hi Ronny,
sorry for the late answer. I don't know why there are processinstance ids like 2xxx, The camunda-scripts are identically. Maybe that has something to do with our internal configuration.

However i could solve the job executor problem. We have used our own JTA-Configuration Factory and the method:
JtaProcessEngineConfiguration conf = new JtaProcessEngineConfiguration();
conf.setJobExecuto

[2017-05-12 09:22] rbraeunlich commented on #43
Hi Andy,

glad to hear that you could fix your! Explicitely activating the job executor can be annoying sometimes ;)

Cheers,
Ronny

[2017-05-12 09:22] #43 closed

[2017-05-16 09:07] rbraeunlich commented on #39
@hawky-4s- Is there any intention to release a new version of connect and spin? I cannot make any release as long as the dependency problems are not resolved, i.e. a new MANIFEST for both of them.

[2017-05-19 09:44] hawky-4s- commented on #39
@rbraeunlich, I will check and report back.

[2017-05-19 10:01] hawky-4s- commented on #39
We will do a spin / connect release and upgrade it in the platform accordingly.

[2017-05-21 17:48] rbraeunlich commented on #39
Thank you for the quick release @hawky-4s-
I will close this issue because the 2.x branch is basically dead because of the incompatible manifests.

[2017-05-21 17:48] #39 closed

[2017-05-22 09:53] rbraeunlich opened #44 "Release camunda BPM platform OSGi 3.0.0"
Thanks to @hawky-4s- making quick releases of camunda spin and connect, we can finally release a 3.0.0 version with compatability to camunda BPM platform 7.6
This release also marks the end of the 2.x branch of the OSGi extension.
Could you please make all the arrangements @hawky-4s- ?

[2017-05-22 09:53] rbraeunlich commented on #40
See #44

[2017-05-22 09:53] #40 closed

[2017-06-09 08:11] menski commented on #44
The release build was successful. I also released the artifacts on maven central. So they should show up after a while.

@rbraeunlich you probably will have to update the GitHub release: https://github.com/camunda/camunda-bpm-platform-osgi/releases/tag/3.0.0

[2017-06-09 08:19] #44 closed

[2017-06-10 15:04] #41 closed

[2017-06-16 08:50] #42 closed

[2017-06-16 08:52] rbraeunlich commented on #42
Hi Andy,
I've finally found time to take a look into your problem. Passing the business key to the subprocess (or better CallActivity) works, you just have to be careful, which ElResolver you use. Using the OSGiElResolver, the business key just works. Strangely, in my initial test I've had the problem that BeanUtils was missing and the exception was not logged properly, but that's related to the c

[2017-06-16 08:54] rbraeunlich opened #45 "Release camunda BPM platform OSGi 4.0.0"
For once, I wanna follow the BPM platform closely with a release ;)
@menski feel free to pass this to @hawky-4s- if he's back from vacation.

Cheers,
Ronny

[2017-06-16 09:37] menski commented on #45
Hi @rbraeunlich,

it seems that we have an issue on our Jenkins:

[code]

It currently runs with this `MAVEN_OPTS`:
[code]

Should I increase it? Or do you think there is another problem?

[2017-06-16 09:39] menski commented on #45
btw this time I'm on vacation and @hawky-4s- is sick. so it may take us until monday to get it released :)

[2017-06-16 10:03] avan2s commented on #42
Hi Ronny,
thank you for taking this problem into account and thanks for the solution. I am a little bit confused about the different EL Resolvers and EL Managers.  What is it's responsiblity? I know that it has something to do with all the expressions like ${abc}, but i don't exactly now, what it is doing. When should i use the OSGIElResolver and when the BlueprintELResolver? Are there differences

[2017-06-16 11:44] rbraeunlich commented on #42
Hi Andy,
among other things, the `ExpressionManager` provides an `ElResolver`. I'll only talk about the `ElResolver` here because I never came in touch with the other things and don't exactly know what they are.
If you take a look into the [OSGiExpressionManager](https://github.com/camunda/camunda-bpm-platform-osgi/blob/master/camunda-bpm-osgi/src/main/java/org/camunda/bpm/extension/osgi/el/OSGiEx

[2017-06-16 11:47] rbraeunlich commented on #45
Then enjoy your vacation ;)
This problem seems new to me. We should try with more space and if that still doesn't work we can think about other solutions.

[2017-06-20 08:19] menski commented on #45
Hi @rbraeunlich,

changing the maven memory settings did not fix the problem. Are there any other java memory settings inside the project which could be changed? Here is the full Jenkins Log for the last failed build:
 [consoleText.txt](https://github.com/camunda/camunda-bpm-platform-osgi/files/1087448/consoleText.txt)

Let me know how you want to approach that problem. As I'm not familiar with th

[2017-06-20 11:30] menski commented on #45
We can reproduce this issue locally with JDK7. Could you try to reproduce this locally? Or should we switch to JDK8 for the OSGi job?

[2017-06-21 12:46] avan2s opened #46 "Error Code-11001 - Problem with transaction Manager and throwing up exception to the client"
Hello,

we have some problems, which randomly occur in the context of an transactionManager, which is used by the JTAConfiguration Factory. You can find a detailed description [here](https://forum.camunda.org/t/error-code-11001-problem-with-transaction-manager-and-throwing-up-exception-to-the-client/4007/1). I don't know if this is an osgi related or just a configuration issue on our side. So i wo

[2017-06-21 17:52] rbraeunlich commented on #45
That's weird. Travis has the same problem. I'll take a look into it on Friday.

[2017-06-23 08:40] rbraeunlich commented on #45
Hi @menski
I could reproduce the problem locally and after switching to `-Xmx1024m -XX:MaxPermSize=512m` both my local machine and Travis seem to be happy. Could you try the release again, please?

[2017-06-23 08:52] menski commented on #45
Okay I will trigger the release

[2017-06-23 09:32] #45 closed

[2017-06-23 09:36] rbraeunlich commented on #45
Thank you!

[2017-06-23 09:39] menski commented on #45
I also release the maven central artifacts, but might take some time til they show up.

[2017-07-07 15:06] rbraeunlich commented on #46
I close this issue because the discussion is going on in the forum thread and it's not related to OSGi

[2017-07-07 15:06] #46 closed

[2018-01-11 08:16] avan2s opened #47 "Camunda (Cockpit) Web App - release in the next time?"
Hello,

currently we are using this plugin in our osgi project and have sometimes complicated use cases and issues in process instances, that are really hard to fix. For that reason it would be nice to have the cockpit available in order to know in which state the process instance is, which variables are set, graphical representation in the bpmn diagram etc.

I have seen the todo: "camunda webapp

[2018-01-14 13:10] rbraeunlich commented on #47
Hi Andy,
basically, the ToDo remained unchanged since the split of camunda OSGi into a separate community project. There hasn't been put any work into it.
I suppose several changes would have to be applied to the webapp project itself, so that it generates a proper MAINFEST, etc.
Cheers,
Ronny

[2018-11-19 07:30] donkon opened #51 "update to the most current Camunda version (7.9 or 7.10)"
This project should be updated to the most current Camunda version

[2018-11-23 08:32] #51 closed

[2018-11-23 09:32] rbraeunlich opened #52 "Release camunda BPM platform OSGi 5.0.0"
Due to public demand, a new version is due ;)

[2018-11-23 09:34] rbraeunlich commented on #51
Hi @donkon
I updated the version in the POM and feature.xml
All tests are green, so it seems alright to me. Please see #52 for updates on the release process.
Cheers,
Ronny

[2018-11-23 13:10] hawky-4s- commented on #52
Hi Ronny, 5.0.0 has been released. Maven Central search should take a while.
Please update release description @ https://github.com/camunda/camunda-bpm-platform-osgi/releases/edit/5.0.0 .

Cheers!

[2018-11-23 13:10] #52 closed

[2018-11-28 14:56] LinaSchad opened #53 "Missing Bundles for using Blueprint and OSGiProcessApplication"
Hi,

till the recent update I used the camunda-bpm-karaf-feature-minimal to install Camunda into Karaf because I had issues with the full feature due to problems with the spring source bundles. I was able to install it now, so whatever you did, thanks for that.

Besides, I need to have the BPMNs together with the additional implementations separated from a bundle that starts a process instance and

[2018-11-28 15:41] rbraeunlich commented on #53
Hi Lina,

from whtat I can remember the Aries bundles were never included because I expected them to be part of every Karaf. Therefore, they were never included. Does your Karaf have never versions of those or are they missing completely? And which Karaf version are you using? Or do you use a custom one?
Regarding the OSGi ProcessApplication bundle it's a little complicated. The `camunda-core` fea

[2018-11-28 15:58] LinaSchad commented on #53
Hi,

I'm using the latest Karaf 4.2.1, when I just looked into the release notes the Bundles interestingly they say, that the Aries bundles were updated to the latest version. Still, when I try to install the needed bundles, Karaf keeps on telling me that exactly these bundles are missing. If I don't install them manually I can't install mine.

Regarding the OSGi ProcessApplication that's fair eno

[2018-11-30 16:32] LinaSchad commented on #53
Hi,

sorry for the late reply.

I see, that does sound like a little more work. The bundle depending on Aries is the Camunda-bpm-osgi-processapplication one. I need to manually install
- mvn:org.apache.aries.transaction/org.apache.aries.transaction.blueprint/2.2.0
- mvn:org.apache.aries.blueprint/org.apache.aries.blueprint.core/1.10.0
- mvn:org.apache.aries.proxy/org.apache.aries.proxy/1.1.2
- mvn

[2018-12-01 15:29] rbraeunlich opened #54 "Release camunda BPM platform OSGi 5.1.0"
At least this time I managed to follow in time ;)

[2018-12-01 15:32] rbraeunlich commented on #53
Hi @LinaSchad

this makes sense. ProcessApplication uses Blueprint internally. Looks like the required enterprise OSGi version doesn't match Karaf's anymore. I will close this issue and create three follow up tasks to update OSGi core, enterprise and Karaf.

Cheers,
Ronny

[2018-12-01 15:32] #53 closed

[2018-12-01 15:33] rbraeunlich opened #55 "Update to latest OSGi enterprise version"
The OSGi enterprise version this project depends on doesn't match e.g. the one included in Karaf. Therefore we should catch up.

[2018-12-01 15:34] rbraeunlich opened #56 "Update to latest OSGi core version"
This project still depends on core OSGi version 5. The most recent version is 6.0.0.

[2018-12-01 15:34] rbraeunlich opened #57 "Update to latest Karaf version"
Depends on #55 and #56

[2018-12-03 16:31] rbraeunlich commented on #54
Hey @hawky-4s-
I can see that you created the GitHub release but nothing arrived on Maven central so far.
Will the artifact appear soon?
Cheers,
Ronny

[2018-12-04 08:46] hawky-4s- commented on #54
Heya, I had an appointment so I could not finish it in one go. I released the artifacts a few minutes ago, they should be available shortly.

Cheers,
Christian

[2018-12-04 08:46] #54 closed

[2020-07-15 13:27] elkhadirzyad opened #63 "is there a way to get cockpit working with camunda-bpm-platform-osgi"
Hello,

i'm try to make cockpit works in karaf container,  but i have "The process engine you are trying to access does not exist", is there a way to define or get the process engine ?

[2020-07-16 09:06] rbraeunlich commented on #63
Hello @elkhadirzyad
do you have any bundle in your Karaf that exposes/configures a process engine?

[2020-07-16 11:52] elkhadirzyad commented on #63
I have an already existed process engine created by other person, how to use it in my camunda

[2020-07-20 06:38] rbraeunlich commented on #63
Hey @elkhadirzyad
there is no special cockpit-osgi adaption. Therefore, I cannot tell you anything exact. You'll most likely have to write some code to perform a service lookup and then pass the engine to cockpit.

[2020-07-22 15:50] elkhadirzyad opened #64 "error when displaying process instances"
I could see my processes but i cant diplay the proess instances in cockpit, i got the error "Communication Error : The application received an unexpected 400 response from the server. Try to refresh the page or login and out of the application" instead.

Is there a way to know the cause, i'm working in karaf container

[2020-07-23 05:07] rbraeunlich commented on #64
Hey @elkhadirzyad
well, as I mentioned before, there is no code in Cockpit that makes it OSGi aware. According to the error message I suppose Cockpit tries to use the REST API. Is this intentional? And does your process engine in Karaf expose itself via REST?

PS. is #63 fixed for you?

[2020-07-23 13:06] elkhadirzyad commented on #64
ok , i dont know how to fix it, #63 is fixed.

[2020-07-23 13:08] elkhadirzyad commented on #64
also i have the error Could not fetch the resource for Could not fetch the resource for 'Open tasks' : Error: Conflicting setter definitions for property "config": com.fasterxml.jackson.databind.ObjectMapper#setConfig(1 params) vs com.fasterxml.jackson.databind.ObjectMapper#setConfig(1 params) at [Source: (org.camunda.bpm.engine.rest.filter.EmptyBodyFilter$1$1); line: 1, column: 1]

in human tasks

[2020-07-27 07:46] rbraeunlich commented on #63
See #64

[2020-07-27 07:46] #63 closed

[2020-07-27 07:47] rbraeunlich commented on #64
Hey @elkhadirzyad
this doesn't look very OSGi specific. Have you tried asking in the camunda forums?

[2021-01-15 07:00] affegsicht opened #69 "Upgrade to latest Camunda-BPM version"

[2021-01-17 18:10] rbraeunlich commented on #69
Hello @affegsicht
I'm sorry but I doubt that I'll find the time. Feel free to open a PR.
Cheers,
Ronny

[2021-04-16 15:30] celanthe opened #71 "Migrate extension to the Camunda Community Hub"
Hi Ronny,

I hope today finds you well! My name is Rin Oliver, and I'm a Technical Community Builder at Camunda. I'm opening this issue today to ask if you might be interested in migrating this extension over to the [Camunda Community Hub](https://github.com/camunda-community-hub/community)?

We'd love to hear your feedback on how we might improve the overall community extension development proces

[2021-04-22 08:03] rbraeunlich commented on #71
Hey @celanthe
sorry for the late response. Sure, we can migrate the extension to the hub. I don't see any problems with that.
It would be great if somebody could take over the project. I don't have much time these days to care for it. I would be very sad if it was abandoned but I can't do much to keep it alive.

[2021-04-26 18:20] celanthe commented on #71
Hi @rbraeunlich,

Thank you so much for getting back to me! I'll reach out to Dan to get your email address, and will follow up with you next week. I am more than happy to help you with getting the repo transferred over, and with highlighting that it's in search of a new maintainer.

I appreciate your time and your response, and look forward to circling back next week.

Best,
Rin

[2021-05-04 15:58] celanthe commented on #71
Hi @rbraeunlich! I've gotten this extension migrated over to the Community Hub, so I'll close out this issue to avoid any confusion! :)

[2021-05-04 15:58] #71 closed

[2022-04-06 20:50] celanthe opened #77 "Rename extension, update assets & documentation"
Hi,

I hope today finds you well! This issue is being opened to ask if you would be open to renaming your extension on GitHub to reference Camunda Platform 7 rather than Camunda BPM after its release on April 12th, 2022. (For example: camunda-platform-7-graphql) This change will also likely impact any screenshots you have in the README that reference Camunda BPM or previous versions of Camunda Pla

[2022-04-24 20:16] akeller commented on #77
Since this project is unmaintained, I added the badge and updated the name in the README.

[2022-04-24 20:16] #77 closed

[2022-09-13 19:30] xomiamoore opened #78 "Update repo name + product mentions"
Hello! With the new product names, this repo name should be updated to something like "camunda-platform-7-osgi" to reduce confusion. Please let me know if I can help with this process!

[2022-09-14 04:17] rbraeunlich commented on #78
Hi @xomiamoore,
I do not have the necessary permissions to rename this repository. Feel free to change the name though.

[2022-09-14 21:24] xomiamoore commented on #78
Hey @rbraeunlich, I added you as a Maintainer which I think should give you permissions. I am happy to change the name myself, but will it break anything else in the repo? That's what I'm nervous about.

[2022-09-15 07:50] rbraeunlich commented on #78
Hi @xomiamoore,
thank you for adding me. Changing the name shouldn't break anything. According to the GitHub documentation even the Git remote references should continue working.

[2022-09-16 19:36] xomiamoore commented on #78
Okay, great. I went ahead and changed the repo name so I'll close this issue. 🤞🏻  that everything is fine :)

[2022-09-16 19:36] #78 closed, assigned to nobody

[2022-11-02 17:22] andyrozman opened #79 "Problem getting JobConfiguration"
Hi !
I need to update Timer programatically, so I was trying to get correct Job... So Job I get, is of TimerEntity, and I need to get name of the timerConfiguration. I am using 7.15 version of Camunda.

[code]

[2022-11-02 17:48] rbraeunlich commented on #79
Hi @andyrozman
Are you sure this is an issue related to the OSGi module? To me it sounds like you should ask in the camunda forums.
Additionally, this module does not support camunda 7.15 since there is no maintainer left.

[2022-11-02 19:21] andyrozman commented on #79
I am not sure...

I created workaround for this already... I am just calling toString and then parsing results (creating Map of values)... I know it shouldn't be done that way, but I tried every other method this object has, and none of them seems to be working... All producing NPE...

This can be closed...

[2022-11-03 06:16] #79 closed, assigned to nobody